body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 224, 224);
}
h2{
    text-align: center;
}
.conteiner{
    display: flex;
   ;
    
}
.grid-productos{
     display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
img {
    width: 250px;
    border-radius: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 5px auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.activo {
    background-color: #d4edda;
}

.inactivo {
    background-color: #f8d7da;
    text-decoration: green;
}

button {
    margin-left: 5px;
}
.ofertas {
    display: flex;
    justify-content:space-around
}