body { 
    font-family: Arial; 
    background: #dbdada; 
  
   
}

h2 { 
color: rgb(121, 201, 121);
 }
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
}

.table thead {
  background-color: #8a2626;
}

.table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}
h1{
  text-align: center;
 
}
.manage {
  margin: 150px;
  width: 200px;
  margin: auto;
  border: 1px, 1px 2px;
  
 
}
.btn{
  color: white;
  background: green;
  font-size: 20px;
  border-radius: 10px;
  
  
}