body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(211, 206, 206);
   
}

.conteiner {
    
    display: flex;
    justify-content:space-around;
    width: 1400px;
    margin: auto;
    background: white;
    margin-top: 100px;
    height: 600px;
    border-radius: 20px;
}
div .img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
.button{
    background: blue;
    color: white;
}