body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 231, 231);
   
}

.conteiner {
    
    display: flex;
    justify-content:space-around;
    width: 1400px;
    margin: auto;
    background: white;
    margin-top: 100px;
    height: 600px;
    border-radius: 20px;
}
div .img{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
.button{
    background: blue;
    color: white;
}
.login{
    margin-top: 200px;
}
.input{
    width: 400px;
    height: 50px;
    border: none;              /* quita el borde por defecto */
    border-bottom: 2px solid blue; 
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
p{
    color: gray;
}